
/* Your CSS Code here. */
.holder{
	display: grid;
	width: 200px;
	height: 200px;
}

.item{
	border: 1px solid #000;
	padding: 10px;
	text-align: center;

}

.item-1 {
  background-color: red;
  color: white;
}

.item-2 {
  background-color: blue;
  color: white;
}

.item-3 {
  background-color: green;
  color: white;
}

.item-4 {
  background-color: yellow;
  color: black;
}